.footer{
    display: flex;
    padding: 4rem 0rem;
}

.footer h1{
    color: #fff;
    font-size: 3rem;
    line-height: 5rem;
}

.paddingAdjust {
    padding-top: 4.5rem; 
}


.clients{
    font-size: 2rem;
    padding: 2.5rem 0rem;
}
